<div class="col-md-4">
  <h3>Welcome To Witter</h3>
  <p>The wittiest place on the web</p>
</div>

<div class="col-md-8">
  <ul>
    <% @wits.each do |wit| %>
        <li>
          <%= link_to wit.message, wit_path(wit) %> | <small> <%= time_ago_in_words(wit.created_at) %> ago </small>
        </li>
    <% end %>
  </ul>
</div>
