.header {
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 1000px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
}

.form-control {
	position: relative;
	float: left;
	box-sizing: border-box;
	width: 400px;
}

body {
	min-width: 1020px;
	font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	color: #333;
}

.left-container {
	width: 980px;
	margin-right: auto;
	margin-left: 200px;
}

.logo_container {
	float: left;
	margin-right: 10px;
	margin-left: -2px;
	color: #333;
	display: inline;
}

.mega-octicon {
	float: left;
	width: 28px;
	height: 28px;
	font-size: 28px;
	display: inline;
}

.search_bar {
	position: relative;
	float: left;
	margin-right: 10px;
	display: inline;
	height: 24px;
}


.list {
	ul {
		li{
			list-style: none;
			display: inline;
			float: left;
			margin-right: 10px;
		}
	}
	
}

.pic{
	li{
		img{
	height: 20px;
	width: 20px;
	display: inline;
	margin-left: 150px;
		}	
	}
}

.row{
	padding-top: 20px;
	margin-left: 170px;
	vertical-align: middle;
	 
}

.profile_pic{
	img{
		height: 230px;
		width: 230px;
		border-radius: 6px;
		vertical-align: middle;
	}
}

.profile_pic{
		width: 25%;
}

.body_content {
margin-left: 20%;
margin-right: 10%;
}

.name{
	h1{
	width: 100%;
	line-height: 14px;
	display: block;
	font-size: 28px;
	font-style: bold;
	}
}

.username{
	h4{
	color: #666666;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	}
}

.col-sm-2{
	hr{
		width: 230px;
	}
}

.clock{
	color: #CCCCCC;
	float: left;
	padding-right: 10px;

}

.location{
	color: #CCCCCC;
	float: left;
	padding-right: 15px;
}

.login{
		h6{
		font-size: 14px;
		float:left;
		display: inline;
		
		}
	}

.city{
		h6{
		font-size: 14px;
		float: left;
		display: inline;
	
		}
	}

.zero1{
	color: #4183C4;
	font-weight: bold;
	vertical-align: middle;
	float: left;
	font-size: 24px;
	margin-left: 35px;
	margin-right: 17px;
}

.zero2{
	color: #4183C4;
	font-weight: bold;
	vertical-align: middle;
	float: left;
	font-size: 24px;
	margin-left: 17px;
	margin-right: 17px;
}

.zero3{
	color: #4183C4;
	font-weight: bold;
	font-size: 24px;
	vertical-align: middle;
	float: left;
	margin-left: 17px;
}

.col-sm-2{
	zero0{
	hr{
		margin-bottom: 5px;
	}
}
}

.list2 {
	ul {
		li{
			list-style: none;
			display: inline;
			float: left;
			margin-right: 10px;
			font-size: 12px;
			color: #999999;
		}
	}
	
}

.list2 {
	ul{
		width: 230px;
		float: left;
		padding-left: 20px;
	}
}

.other_repo {
	float: left;
}

.repo {
	float: left;
}

.nav {
	margin-left: 0px;
	font-size: 14px;
	line-height: 20px;
}

.nav{
	a{
		color: #666666;
	}
}

.nav{
	a{
		color-change{
			color: #333333
		}
	}
}

.button {
li{
	float: right;
	font-weight: bold;
	
}
}

.btn-default {
		color: #333333;
		background-color: #F0F0F0;
		background-image:linear-gradient(#fcfcfc, #eee);
		border: 1px solid #d5d5d5;
		border-radius: 3px;
		font-size: 13px;
		cursor: pointer;
		display: inline;
		vertical-align: -1px;
		line-height: 15px;
}


.nav2{
	list-style: none;
	margin-left: 0px;
	display: inline;
}

.nav2{
	.form-control{
		margin-left: 0px;
		width: 260px;
		float: left;
	}
}

.nav2{
	.search_button{
		button{
		margin-left: 3px;
		height: 34px;
		font-weight: bold;
		float: left;
	}
	}
}

.nav3{
	li{
		display: inline;
		vertical-align: middle;
		height: 24px;
	}
	}

.nav3{
	list-style: none;
	display: inline;
	color: #4183c4;
	font-size: 14px;
	vertical-align: middle;
	margin-top: -35px;
	float: left;

}



.mirror{
	margin-left: 6px;
	display: inline;
	margin-top: 5px;
	height: 24px;
	float: left;
	margin-right: 2px;
}

.all{
margin-left: 8px;
display: inline;
margin-top: 5px;
height: 24px;
font-weight: bold;
color: #333333;
float: left;
margin-right: 2px;
}

.public{
margin-left: 8px;
display: inline;
margin-top: 5px;
height: 24px;
float: left;
margin-right: 2px;
}


.private{
margin-left: 8px;
display: inline;
margin-top: 5px;
height: 24px;
float: left;
margin-right: 2px;
}


.sources{
margin-left: 8px;
display: inline;
margin-top: 5px;
height: 24px;
float: left;
margin-right: 2px;
}


.forks{
margin-left: 8px;
display: inline;
margin-top: 5px;
height: 24px;
float: left;
margin-right: 2px;
}

.col-sm-10{
	width: 85.5%;
}

.nav3{
.btn-default{
	float: left;
}
}

.col-sm-10{
	hr{
		width: 720px;
		margin-bottom: 10px;
	}
}

.main_meat{
	position: relative;
	padding-top: 5px;
	padding-bottom: 10px;
	list-style: none;
	border-bottom: 1px solid #eee;
}

.main_meat{
	right_side{
	margin-top: 6px;
	float: right;
	font-size: 12px;
	font-weight: bold;
	color: #888888;
	margin-bottom: 6px;
	}
}

.main_meat{
	top_meat{
		margin: 0 0 8px;
		font-size: 20px;
		line-height: 1.2;
		font-weight: bold;
	}
}

.main_meat{
under_top_meat{
	display: inline-block;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 12px;
	color: #888888;
	vertical-align: middle;
	}
}

.main_meat{
	updated_meat{
	display: block;
	margin-top: 8px;
	margin-bottom: 0px;
	font-size: 12px;
	color: #888;
	}
}

#footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background:#ee5;
}

