<h1>Dashboard</h1>
<h2>Reports</h2>

<p><%= link_to "All Report (as PDF)",  all_report_path('pdf'), target: '_blank' %></p>
<p><%= link_to "All Report (as CSV)",  all_report_path('csv'), target: '_blank' %></p>
<p><%= link_to "All Report (as HTML)", all_report_path(     ), target: '_blank' %></p>
