@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts";

@-webkit-keyframes flash {
  0%   { background-color: none; }
  50%  { background-color: yellow; }
  100% { background-color: none; }
}
@-moz-keyframes flash {
  0%   { background-color: none; }
  50%  { background-color: yellow; }
  100% { background-color: none; }
}
@-o-keyframes flash {
  0%   { background-color: none; }
  50%  { background-color: yellow; }
  100% { background-color: none; }
}
@keyframes flash {
  0%   { background-color: none; }
  50%  { background-color: yellow; }
  100% { background-color: none; }
}

.flash {
	-webkit-animation: flash 0.5s;
	-moz-animation: flash 0.5s;
	-o-animation: flash 0.5s;
	animation: flash 0.5s;
}