<div class='name-box'>
  <h2><%= @name %></h2>
  <p> Lorem Ipsum </p>
  <p> Lorem Ipsum </p>
  <p> Lorem Ipsum </p>
  <p> Lorem Ipsum </p>
  <p> Lorem Ipsum </p>
  <p> Lorem Ipsum </p>
  <p> Lorem Ipsum </p>
  <p> Lorem Ipsum </p>
</div>